In [1]:
import pandas as pd
import numpy as np
import functools as ft

In [2]:
def identify_reservations(df):
    try:
        Fab300_raw_reservations = df.copy()
        Fab300_raw_reservations["DATE_TIME_STAMP"] = pd.to_datetime(Fab300_raw_reservations["DATE_TIME_STAMP"])
        SortedRows = Fab300_raw_reservations.sort_values(["EVENT_ROW_ID"])

        index = range(1,len(SortedRows)+1)
        IndexShift_1 = [i-1 if i%2 != 0 else np.nan for i in index]
        IndexShift_2 = [i-1 if i%2 == 0 else np.nan for i in index]

        SortedRows["Index"] = index
        SortedRows["IndexShift_1"] = IndexShift_1
        SortedRows["IndexShift_2"] = IndexShift_2
        SortedRows["IndexShift_1_1"] = SortedRows["IndexShift_1"].fillna(method='bfill')
        SortedRows["IndexShift_2_1"] = SortedRows["IndexShift_2"].fillna(method='bfill')
        SortedRows = SortedRows.drop(columns=['IndexShift_1', 'IndexShift_2'])
        SortedRows = SortedRows.rename(columns={"IndexShift_1_1":"IndexShift_1","IndexShift_2_1":"IndexShift_2"})
        FilledUp2 = SortedRows.copy()

        UnpivotedOnlySelectedColumns = pd.melt(FilledUp2, id_vars=['FO_ROW_ID','Index','IndexShift_1','IndexShift_2'], 
                    value_vars=["ResWBS", "ResTk", "DATE_TIME_STAMP", "USER_ID", "EVENT_ROW_ID"])

        UnpivotedOnlySelectedColumns["ResProperty_1"] = np.where(UnpivotedOnlySelectedColumns['Index']==UnpivotedOnlySelectedColumns['IndexShift_1'], UnpivotedOnlySelectedColumns['variable'] + "_Start", UnpivotedOnlySelectedColumns['variable'] + "_End")
        UnpivotedOnlySelectedColumns["ResProperty_2"] = np.where(UnpivotedOnlySelectedColumns['Index']==UnpivotedOnlySelectedColumns['IndexShift_2'], UnpivotedOnlySelectedColumns['variable'] + "_Start", UnpivotedOnlySelectedColumns['variable'] + "_End")

        AddedCustom4 = UnpivotedOnlySelectedColumns.copy()
        RemovedColumns1 = AddedCustom4.drop(columns=["Index", "IndexShift_2", "variable", "ResProperty_2"])

        PivotedColumn1 = RemovedColumns1.pivot(index=['FO_ROW_ID','IndexShift_1'],columns='ResProperty_1',values='value').reset_index()

        FilteredRows01 = PivotedColumn1[(PivotedColumn1["ResWBS_Start"].notnull() & PivotedColumn1['ResWBS_Start'].str.len() > 0)]

        RemovedColumns2 = AddedCustom4.drop(columns=["Index", "IndexShift_1", "variable", "ResProperty_1"])
        PivotedColumn2 = RemovedColumns2.pivot(index=['FO_ROW_ID','IndexShift_2'],columns='ResProperty_2',values='value').reset_index()

        FilteredRows02 = PivotedColumn2[(PivotedColumn2["ResWBS_Start"].notnull() & PivotedColumn2['ResWBS_Start'].str.len() > 0)]

        columns = [
            'FO_ROW_ID', 
            'DATE_TIME_STAMP_End',
            'DATE_TIME_STAMP_Start', 
            'EVENT_ROW_ID_End', 
            'EVENT_ROW_ID_Start',
            'ResTk_End', 
            'ResTk_Start', 
            'ResWBS_End', 
            'ResWBS_Start', 
            'USER_ID_End',
            'USER_ID_Start'
        ]
        FilteredRows01 = FilteredRows01[columns]
        FilteredRows02 = FilteredRows01[columns]
        combined = pd.concat([FilteredRows01,FilteredRows02])

        combined = combined.rename(
            columns=
            {
                "ResTk_Start":"ResTk",
                "ResWBS_Start":"WBS",
                "EVENT_ROW_ID_Start": "EVENT_ROW_ID_Begin",
                "DATE_TIME_STAMP_Start": "DATE_TIME_STAMP_Begin"
            }
        )

        columns = [
            "FO_ROW_ID",
            "ResTk", 
            "WBS", 
            "EVENT_ROW_ID_Begin", 
            "EVENT_ROW_ID_End", 
            "DATE_TIME_STAMP_Begin", 
            "DATE_TIME_STAMP_End", 
            "USER_ID_Start", 
            "USER_ID_End"
        ]
        Tools_with_resersvations  = combined#[columns]

        final = combined[columns]
        return final
    except:
        return pd.DataFrame()

In [4]:
Fab300_raw_reservations = pd.read_csv("C:\\Users\\fpicaso\\Repos\\Teo-2022-10\\20221108Fab300_raw_reservations.csv")
Fab300_raw_reservations.head()

   FO_ROW_ID    ResTk       ResWBS  EVENT_ROW_ID   USER_ID   DATE_TIME_STAMP
0         74  4155748  32414/32513     943475937  alcott43   10/24/2022 9:54
1         74      NaN          NaN     943902421  alcott43  10/25/2022 15:42
2         79  4155668  30990/32063     942950523  kramac15  10/21/2022 15:54
3         79      NaN          NaN     942961454  thukka30  10/21/2022 16:30
4         79  4157252  30990/32063     943831996  jagalu79  10/25/2022 10:55

In [6]:
Fab300_raw_reservations = pd.read_csv("C:\\Users\\fpicaso\\Repos\\Teo-2022-10\\20221108Fab300_raw_reservations.csv")

columns = [
    "FO_ROW_ID",
    "DATE_TIME_STAMP_Begin",
    "DATE_TIME_STAMP_End",
    'EVENT_ROW_ID_Begin', 
    'EVENT_ROW_ID_End',
    'ResTk',
    'USER_ID_Start',
    'USER_ID_End',
    'WBS'
]

for_row_ids = Fab300_raw_reservations["FO_ROW_ID"].unique()

Tools_with_reservations = pd.DataFrame(columns=columns)

for row_id in for_row_ids:
    grpdata = Fab300_raw_reservations[Fab300_raw_reservations["FO_ROW_ID"] == row_id]
    
    df = identify_reservations(grpdata)
    if df.shape[0] > 0:
        print(row_id)
        print("------------------------------")
        print(df.head(5))
        Tools_with_reservations = pd.concat([Tools_with_reservations,df])


Tools_with_reservations

736
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
2                    736  4152709  31499/00880          942682074
3                    736  4155938  31499/00880          943409222
4                    736  4155938  31499/00880          943410012
2                    736  4152709  31499/00880          942682074
3                    736  4155938  31499/00880          943409222

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
2                    943409217   2022-10-20 18:19:00 2022-10-23 19:07:00
3                    943409962   2022-10-23 19:08:00 2022-10-23 19:12:00
4                    943471163   2022-10-23 19:12:00 2022-10-24 09:24:00
2                    943409217   2022-10-20 18:19:00 2022-10-23 19:07:00
3                    943409962   2022-10-23 19:08:00 2022-10-23 19:12:00

ResProperty_1 USER_ID_Start USER_ID_End
2                  groven85       stass
3                     stass       stass
4                     stass    groven85
2                  groven85       stass
3                     stass       stass
4673
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
1                   4673  4155188  32299/00013          942498088
2                   4673  4155187  32299/00013          942525386
3                   4673  4153355  32414/32513          942570425
4                   4673  4155675  32414/32513          942848233
5                   4673  4155541  32299/00013          942882222

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    942513076   2022-10-20 06:21:00 2022-10-20 08:07:00
2                    942570280   2022-10-20 09:34:00 2022-10-20 12:48:00
3                    942795745   2022-10-20 12:48:00 2022-10-21 06:31:00
4                    942878026   2022-10-21 10:28:00 2022-10-21 12:09:00
5                    942918066   2022-10-21 12:32:00 2022-10-21 14:29:00

ResProperty_1 USER_ID_Start USER_ID_End
1                    cochet      cochet
2                    cochet    davide98
3                  davide98     redants
4                  davide98    davide98
5                  beirnaer    beirnaer
4806
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
2                   4806  4165702  31499/00379          945437082
3                   4806  4167272  31499/00379          946365546
4                   4806  4168213  31499/00379          946973705
2                   4806  4165702  31499/00379          945437082
3                   4806  4167272  31499/00379          946365546

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
2                    945458364   2022-10-31 10:35:00 2022-10-31 12:36:00
3                    946411186   2022-11-04 07:10:00 2022-11-04 11:03:00
4                    947004852   2022-11-07 07:12:00 2022-11-07 10:16:00
2                    945458364   2022-10-31 10:35:00 2022-10-31 12:36:00
3                    946411186   2022-11-04 07:10:00 2022-11-04 11:03:00

ResProperty_1 USER_ID_Start USER_ID_End
2                    dara85      dara85
3                    dara85      dara85
4                    dara85      dara85
2                    dara85      dara85
3                    dara85      dara85
4926
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
2                   4926  4150669  44999/01997          942495917
3                   4926  4150669  44999/01997          942503249
4                   4926      N/a  36003/36503          942508992
5                   4926  4151413  32299/00013          942522027
6                   4926  4150532  32299/00013          942569603

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
2                    942503230   2022-10-20 05:56:00 2022-10-20 07:04:00
3                    942506467   2022-10-20 07:04:00 2022-10-20 07:27:00
4                    942521540   2022-10-20 07:46:00 2022-10-20 09:13:00
5                    942529242   2022-10-20 09:15:00 2022-10-20 09:50:00
6                    942584802   2022-10-20 12:44:00 2022-10-20 13:49:00

ResProperty_1 USER_ID_Start USER_ID_End
2                   redants     redants
3                   redants     redants
4                  verhoevj    verhoevj
5                  beirnaer    beirnaer
6                  peeter11    peeter11
7518
------------------------------
ResProperty_1  FO_ROW_ID ResTk          WBS EVENT_ROW_ID_Begin  \
1                   7518   N/a  32299/00013          943599444
2                   7518   N/a  98300/14175          943771864
1                   7518   N/a  32299/00013          943599444
2                   7518   N/a  98300/14175          943771864

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    943683543   2022-10-24 17:42:00 2022-10-24 19:56:00
2                    944139904   2022-10-25 04:47:00 2022-10-26 10:37:00
1                    943683543   2022-10-24 17:42:00 2022-10-24 19:56:00
2                    944139904   2022-10-25 04:47:00 2022-10-26 10:37:00

ResProperty_1 USER_ID_Start USER_ID_End
1                   meeus72     meeus72
2                   deloore    croone87
1                   meeus72     meeus72
2                   deloore    croone87
7554
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
1                   7554  4155117  31199/30079          942512139
2                   7554  4152951  31199/01995          942532798
3                   7554  4155476  31199/01918          942832702
4                   7554  4155481  31199/01918          943498047
5                   7554  4157303  31199/01638          943834227

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    942532744   2022-10-20 08:00:00 2022-10-20 10:07:00
2                    942533055   2022-10-20 10:07:00 2022-10-20 10:08:00
3                    943498009   2022-10-21 09:35:00 2022-10-24 11:02:00
4                    943741262   2022-10-24 11:02:00 2022-10-25 01:18:00
5                    944304566   2022-10-25 11:07:00 2022-10-26 22:00:00

ResProperty_1 USER_ID_Start USER_ID_End
1                  wouter12    newman74
2                  newman74    wouter12
3                     roy82       roy82
4                     roy82    veenae54
5                  herman57    veenae54
8288
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
1                   8288      N/a  36003/36504          942514831
2                   8288  4153327  36003/36504          942852338
3                   8288  4153327  36003/36504          942896990
4                   8288  4153328  36003/36504          943857709
5                   8288  4156132  31499/02047          944120528

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    942852330   2022-10-20 08:22:00 2022-10-21 10:40:00
2                    942872975   2022-10-21 10:40:00 2022-10-21 11:51:00
3                    942962611   2022-10-21 13:45:00 2022-10-21 16:32:00
4                    943916820   2022-10-25 13:11:00 2022-10-25 16:29:00
5                    944169619   2022-10-26 08:47:00 2022-10-26 12:16:00

ResProperty_1 USER_ID_Start USER_ID_End
1                    dara85      dara85
2                    dara85      dara85
3                  parmenti    parmenti
4                  parmenti     1f8psvc
5                  talmel16    talmel16
8487
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
1                   8487      N/a  36003/36503          942503494
2                   8487  4155068  30990/32063          942838475
3                   8487  4166323  30990/01658          944460708
4                   8487  4166599  30990/01658          944823297
5                   8487  4166726  36003/36504          945429725

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    942553282   2022-10-20 07:06:00 2022-10-20 11:35:00
2                    942920069   2022-10-21 09:52:00 2022-10-21 14:33:00
3                    944464499   2022-10-27 12:10:00 2022-10-27 12:41:00
4                    944863488   2022-10-28 13:04:00 2022-10-28 15:06:00
5                    945470227   2022-10-31 10:07:00 2022-10-31 13:32:00

ResProperty_1 USER_ID_Start USER_ID_End
1                   tielens     tielens
2                     kim11     jaspers
3                     kim11     jaspers
4                     kim11       kim11
5                   tielens        pena
10648
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
1                  10648  4167464  31199/30117          945949030
1                  10648  4167464  31199/30117          945949030

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    946023891   2022-11-02 19:18:00 2022-11-03 03:40:00
1                    946023891   2022-11-02 19:18:00 2022-11-03 03:40:00

ResProperty_1 USER_ID_Start USER_ID_End
1                    kato15    irutha45
1                    kato15    irutha45

12107
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
1                  12107  4155179  36003/01224          942536288
2                  12107  4155604  36003/01224          942862177
3                  12107      N/a  36003/01224          943866617
4                  12107  4162018  31199/01873          944175354
5                  12107  4161512  31199/01873          944372590

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    942640665   2022-10-20 10:20:00 2022-10-20 16:41:00
2                    942952031   2022-10-21 11:07:00 2022-10-21 15:57:00
3                    943918805   2022-10-25 13:56:00 2022-10-25 16:36:00
4                    944372589   2022-10-26 13:00:00 2022-10-27 04:11:00
5                    944748980   2022-10-27 04:11:00 2022-10-28 08:46:00

ResProperty_1 USER_ID_Start USER_ID_End
1                  vbelle62    vbelle62
2                   lagrain     lagrain
3                  vbelle62    vbelle62
4                    moussa    debout81
5                  debout81      moussa
12955
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
5                  12955  4166370  31199/01988          945774114
6                  12955  4167629  31199/01988          946143359
5                  12955  4166370  31199/01988          945774114
6                  12955  4167629  31199/01988          946143359

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
5                    945994284   2022-11-02 09:06:00 2022-11-02 23:52:00
6                    946169610   2022-11-03 13:25:00 2022-11-03 14:47:00
5                    945994284   2022-11-02 09:06:00 2022-11-02 23:52:00
6                    946169610   2022-11-03 13:25:00 2022-11-03 14:47:00

ResProperty_1 USER_ID_Start USER_ID_End
5                  beggia74    irutha45
6                  chowri97    chowri97
5                  beggia74    irutha45
6                  chowri97    chowri97
13055
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
1                  13055  4153463  98600/00962          943067906
2                  13055  4155538  31199/01995          943468020
3                  13055  4157490  31199/01995          944528164
4                  13055  4166469  31199/01988          945163339
5                  13055  4166836  31199/02007          945246202

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    943468012   2022-10-21 22:35:00 2022-10-24 09:00:00
2                    944528117   2022-10-24 09:00:00 2022-10-27 16:00:00
3                    944538986   2022-10-27 16:00:00 2022-10-27 16:43:00
4                    945222131   2022-10-29 19:13:00 2022-10-30 07:41:00
5                    945405146   2022-10-30 11:08:00 2022-10-31 09:17:00

ResProperty_1 USER_ID_Start USER_ID_End
1                  dauend87    newman74
2                  newman74    newman74
3                  newman74    newman74
4                  irutha45     schrauw
5                   schrauw    newman74
15148
------------------------------
ResProperty_1  FO_ROW_ID ResTk          WBS EVENT_ROW_ID_Begin  \
1                  15148   N/a  98601/01062          944231027
2                  15148   N/a  37093/02178          945088410
3                  15148   N/a  31299/01861          946268469
1                  15148   N/a  98601/01062          944231027
2                  15148   N/a  37093/02178          945088410

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    944271312   2022-10-26 16:28:00 2022-10-26 18:31:00
2                    945101267   2022-10-29 10:43:00 2022-10-29 12:40:00
3                    946284392   2022-11-03 20:17:00 2022-11-03 21:42:00
1                    944271312   2022-10-26 16:28:00 2022-10-26 18:31:00
2                    945101267   2022-10-29 10:43:00 2022-10-29 12:40:00

ResProperty_1 USER_ID_Start USER_ID_End
1                  claeseng    claeseng
2                  claeseng    claeseng
3                  claeseng    claeseng
1                  claeseng    claeseng
2                  claeseng    claeseng
16067
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
8                  16067  4167776  43900/02205          946389820
9                  16067  4167518  31299/01284          946474577
10                 16067  4168518  31299/01284          947097987
8                  16067  4167776  43900/02205          946389820
9                  16067  4167518  31299/01284          946474577

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
8                    946411875   2022-11-04 09:28:00 2022-11-04 11:06:00
9                    946554949   2022-11-04 15:01:00 2022-11-04 18:47:00
10                   947162160   2022-11-07 16:36:00 2022-11-07 19:21:00
8                    946411875   2022-11-04 09:28:00 2022-11-04 11:06:00
9                    946554949   2022-11-04 15:01:00 2022-11-04 18:47:00

ResProperty_1 USER_ID_Start USER_ID_End
8                  soulie26    soulie26
9                  agiann70    agiann70
10                 agiann70    agiann70
8                  soulie26    soulie26
9                  agiann70    agiann70
20579
------------------------------
ResProperty_1  FO_ROW_ID ResTk          WBS EVENT_ROW_ID_Begin  \
2                  20579   N/a  39320/36502          942498035
3                  20579   N/a  39320/36502          942529522
4                  20579   N/a  39320/36502          942603100
5                  20579   N/a  31199/01765          942693446
6                  20579   N/a  38199/37862          942734401

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
2                    942524794   2022-10-20 06:20:00 2022-10-20 09:31:00
3                    942590643   2022-10-20 09:51:00 2022-10-20 14:04:00
4                    942652402   2022-10-20 14:45:00 2022-10-20 17:44:00
5                    942723578   2022-10-20 18:43:00 2022-10-20 22:01:00
6                    942794913   2022-10-20 23:04:00 2022-10-21 06:20:00

ResProperty_1 USER_ID_Start USER_ID_End
2                  rutkow29    rutkow29
3                  mander15    rutkow29
4                  vrebos45    vrebos45
5                  konecn85    konecn85
6                  claeseng    rutkow29
20749
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
6                  20749  4167528  31199/01514          945956873
7                  20749  4167650  31199/00653          946062177
6                  20749  4167528  31199/01514          945956873
7                  20749  4167650  31199/00653          946062177

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
6                    945961847   2022-11-02 20:01:00 2022-11-02 20:43:00
7                    946086229   2022-11-03 08:29:00 2022-11-03 09:56:00
6                    945961847   2022-11-02 20:01:00 2022-11-02 20:43:00
7                    946086229   2022-11-03 08:29:00 2022-11-03 09:56:00

ResProperty_1 USER_ID_Start USER_ID_End
6                  furuka28    furuka28
7                     roy82       roy82
6                  furuka28    furuka28
7                     roy82       roy82
20891
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
2                  20891  4160611  32005/01675          944185648
3                  20891  4160617  32005/01675          944398915
4                  20891  4166433  32005/01675          944843364
5                  20891  4167252  32005/01675          945662482
6                  20891  4167257  32005/01675          945776814

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
2                    944208427   2022-10-26 13:41:00 2022-10-26 15:15:00
3                    944436494   2022-10-27 07:44:00 2022-10-27 10:46:00
4                    944957179   2022-10-28 14:09:00 2022-10-28 19:07:00
5                    945666719   2022-11-01 10:06:00 2022-11-01 16:40:00
6                    945798814   2022-11-02 09:26:00 2022-11-02 10:39:00

ResProperty_1 USER_ID_Start USER_ID_End
2                  muraki29    muraki29
3                  muraki29    muraki29
4                  muraki29    aghasa68
5                  muraki29    muraki29
6                  muraki29    muraki29
23988
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
1                  23988  4155386  30990/32063          942594817
2                  23988  4155562  30990/32063          942820016
3                  23988  4156007  30990/32063          943518184
4                  23988  4156008  30990/32063          943579074
5                  23988  4156009  30990/32063          943732190

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    942733107   2022-10-20 14:18:00 2022-10-20 22:56:00
2                    942950796   2022-10-21 08:54:00 2022-10-21 15:56:00
3                    943575543   2022-10-24 12:15:00 2022-10-24 15:48:00
4                    943732147   2022-10-24 16:02:00 2022-10-24 23:58:00
5                    943804934   2022-10-24 23:58:00 2022-10-25 09:08:00

ResProperty_1 USER_ID_Start USER_ID_End
1                  thukka30    goncal36
2                  thukka30    thukka30
3                  kramac15    kramac15
4                  kramac15    kramac15
5                  kramac15    kramac15
24322
------------------------------
ResProperty_1  FO_ROW_ID    ResTk          WBS EVENT_ROW_ID_Begin  \
1                  24322  4155396  42199/00160          943151704
2                  24322  4155975  42199/00160          943317615
3                  24322  4155735  42199/00160          943520298
4                  24322  4155735  42199/00160          943595947
5                  24322  4157501  42199/00160          944427413

ResProperty_1 EVENT_ROW_ID_End DATE_TIME_STAMP_Begin DATE_TIME_STAMP_End  \
1                    943190487   2022-10-22 07:57:00 2022-10-22 11:48:00
2                    943323889   2022-10-23 07:47:00 2022-10-23 08:20:00
3                    943595945   2022-10-24 12:21:00 2022-10-24 17:26:00
4                    944236288   2022-10-24 17:26:00 2022-10-26 16:50:00
5                    944760571   2022-10-27 10:14:00 2022-10-28 09:47:00

ResProperty_1 USER_ID_Start USER_ID_End
1                  carola29    carola29
2                  carola29    carola29
3                  drijboom    drijboom
4                  drijboom    scheer40
5                  drijboom    drijboom

,FO_ROW_ID,DATE_TIME_STAMP_Begin,DATE_TIME_STAMP_End,EVENT_ROW_ID_Begin,EVENT_ROW_ID_End,ResTk,USER_ID_Start,USER_ID_End,WBS
2,736,2022-10-20 18:19:00,2022-10-23 19:07:00,942682074,943409217,4152709,groven85,stass,31499/00880
3,736,2022-10-23 19:08:00,2022-10-23 19:12:00,943409222,943409962,4155938,stass,stass,31499/00880
4,736,2022-10-23 19:12:00,2022-10-24 09:24:00,943410012,943471163,4155938,stass,groven85,31499/00880
2,736,2022-10-20 18:19:00,2022-10-23 19:07:00,942682074,943409217,4152709,groven85,stass,31499/00880
3,736,2022-10-23 19:08:00,2022-10-23 19:12:00,943409222,943409962,4155938,stass,stass,31499/00880
...,...,...,...,...,...,...,...,...,...
2,24322,2022-10-23 07:47:00,2022-10-23 08:20:00,943317615,943323889,4155975,carola29,carola29,42199/00160
3,24322,2022-10-24 12:21:00,2022-10-24 17:26:00,943520298,943595945,4155735,drijboom,drijboom,42199/00160
4,24322,2022-10-24 17:26:00,2022-10-26 16:50:00,943595947,944236288,4155735,drijboom,scheer40,42199/00160
5,24322,2022-10-27 10:14:00,2022-10-28 09:47:00,944427413,944760571,4157501,drijboom,drijboom,42199/00160
6,24322,2022-10-28 09:47:00,2022-10-28 11:22:00,944760743,944789083,4155736,drijboom,1f8psvc,42199/00160

In [7]:
Tools_Parents = pd.read_csv("Tools_Parents.csv")
Tools_Parents["CSIM_TIMESTAMP"] = pd.to_datetime(Tools_Parents["CSIM_TIMESTAMP"])
Tools_Parents

,DEL_FLAG,FACILITY,ENT_NAME,ROW_ID,CSIM_TIMESTAMP,Area
0,N,PLINE300,AIXTRON,74,2022-10-19 11:03:00,Area/DDEPI/Deposition/EPI
1,N,PLINE200,ARCHER,75,2022-10-20 17:45:00,Area/ILIME/Metrology/Inspections
2,N,PLINE300,DNS,76,2022-10-20 21:57:00,Area/WMCE/Clean/Clean
3,N,PLINE300,DUMMY300,78,2022-09-10 11:33:00,Area/Dummy-Area/Dummy-SubArea/Dummy-EntityGroup
4,N,PLINE300,F5_SCD,79,2022-10-20 20:51:00,Area/ILIME/Metrology/Ellipsometry
...,...,...,...,...,...,...
389,N,PLINE200,CHAMEO_UP,25772,2022-07-14 16:52:00,Area/WBA/Assembly/FlipChip
390,N,PLINE300,GT2000,26118,2022-10-14 11:38:00,Area/ILIME/Metrology/Inspections
391,N,PLINE200,UV_MANUAL,26135,2022-10-20 14:07:00,Area/WBA/Assembly/Dicing
392,N,PLINE200,A412_2,26167,2022-10-16 06:25:00,Area/DDDIFFUSION/Anneal/AnnealOven
393,N,PLINE300,H6300_3,26177,2022-10-15 07:47:00,Area/ELMIC/Metrology/Inspections

In [8]:
#FAB300_with_tool_names
Expanded_Tools_parents = pd.merge(
    Tools_with_reservations, 
    Tools_Parents, 
    left_on=["FO_ROW_ID"], 
    right_on=["ROW_ID"], 
    how="left",
    suffixes=["","_y"]
)
Expanded_Tools_parents = Expanded_Tools_parents.rename(
    columns={
        "ENT_NAME":"Tool",
        "USER_ID_Start":"USER_ID_Begin",
        "USER_ID_End":"USER_ID_End"
    }
)
Expanded_Tools_parents_filteredRows = Expanded_Tools_parents[
    Expanded_Tools_parents["USER_ID_Begin"] == Expanded_Tools_parents["USER_ID_End"]
]
Expanded_Tools_parents_filteredRows = Expanded_Tools_parents_filteredRows.rename(
    columns={
        "USER_ID_Begin":"User_Id",
        "DATE_TIME_STAMP_Begin":"Begin",
        "DATE_TIME_STAMP_End":"End"
    }
)
Expanded_Tools_parents_filteredRows = Expanded_Tools_parents_filteredRows.sort_values(["FO_ROW_ID","EVENT_ROW_ID_Begin"])
Fab300_Res_id = range(0,len(Expanded_Tools_parents_filteredRows))
Expanded_Tools_parents_filteredRows["Fab300_Res_id"] = Fab300_Res_id
Expanded_Tools_parents_filteredRows = Expanded_Tools_parents_filteredRows[
    (
        Expanded_Tools_parents_filteredRows["Tool"].notnull() & 
        Expanded_Tools_parents_filteredRows['Tool'].str.len() > 0)
]
columns = [
    "FO_ROW_ID",
    "EVENT_ROW_ID_Begin",
    "Begin",
    "End",
    "Fab300_Res_id",
    "FACILITY",
    "ResTk",
    "Tool",
    "User_Id",
    "WBS"
]
Expanded_Tools_parents_filteredRows[columns]
FAB300_with_tool_names = Expanded_Tools_parents_filteredRows[columns]

#Sample for FO_ROW_ID == 76
FAB300_with_tool_names[FAB300_with_tool_names["FO_ROW_ID"] == 76]

Empty DataFrame
Columns: [FO_ROW_ID, EVENT_ROW_ID_Begin, Begin, End, Fab300_Res_id, FACILITY, ResTk, Tool, User_Id, WBS]
Index: []

In [9]:
#IIO_raw_reservations

df = pd.read_csv("IIO_raw_reservations - test.csv").reset_index()
df["Begin"] = pd.to_datetime(df["Begin"],format="%d/%m/%Y %H:%M")
df["End"] = pd.to_datetime(df["End"],format="%d/%m/%Y %H:%M")
df = df.sort_values(["WBS","Tool","FACILITY","Module","Begin"])
df["End_Down"] = df["End"].shift(1)
df["Adjacent_Down"] = np.where(df['Begin']==df['End_Down'], True, False)
df["IndexCopy"] = np.where(df["Adjacent_Down"] == True,np.nan,df["index"])
df["IndexCopy2"] = df["IndexCopy"].fillna(method='ffill')
df["Module"] = df["Module"].fillna("")
df["Description"] = df["Description"].fillna("")
df = df[['WBS','FACILITY', 'Module','Tool','Begin', 'Description', 'End', 'User_id','IndexCopy2','End_Down']]


params = {
    'Begin': 'min',
    'End': 'max',
    'Description': lambda x: ';'.join(sorted(pd.Series.unique(x))),
    'User_id': lambda x: ';'.join(sorted(pd.Series.unique(x)))
}
sub = df[["WBS","Tool","FACILITY","Module","Begin","End","Description",'User_id','IndexCopy2']]
GroupedRows1 = sub.groupby(["WBS","Tool","FACILITY","Module",'IndexCopy2']).agg(params).reset_index()

params = {
    'Module': lambda x: ';'.join(sorted(pd.Series.unique(x))),
    'Description': 'first',
    'User_id': 'first'
}


GroupedRows1 = GroupedRows1.groupby(["WBS","Tool","FACILITY","Begin", "End"]).agg(params).reset_index()
GroupedRows1 = GroupedRows1.sort_values(["FACILITY", "Tool", "WBS", "Begin", "End"])

Index = range(0,len(GroupedRows1))
GroupedRows1["IIO_Res_id"] = Index
IIO_without_modules = GroupedRows1.copy()
IIO_without_modules

,WBS,Tool,FACILITY,Begin,End,Module,Description,User_id,IIO_Res_id
291,31012/01506,300MM_DICER,PLINE200,2022-09-29 09:00:00,2022-09-29 17:00:00,,lots on hold,schoofs,0
292,31012/01506,300MM_DICER,PLINE200,2022-10-14 13:30:00,2022-10-14 17:00:00,,lots on hold,schoofs,1
293,31012/01506,300MM_DICER,PLINE200,2022-10-18 13:30:00,2022-10-18 17:00:00,,lots on hold,schoofs,2
2499,36671/01224,300MM_DICER,PLINE200,2022-10-05 11:00:00,2022-10-05 12:00:00,,IN4MED lot,ameghn57,3
2500,36671/01224,300MM_DICER,PLINE200,2022-10-07 09:30:00,2022-10-07 12:00:00,,DEVINP LOTS,ameghn57,4
...,...,...,...,...,...,...,...,...,...
2356,36003/02120,ZETA,PLINE300,2022-09-30 13:30:00,2022-09-30 17:00:00,,Recipe setting,tuncaa41,3097
2357,36003/02120,ZETA,PLINE300,2022-10-07 09:30:00,2022-10-07 11:00:00,,Recipe practice,tuncaa41,3098
2358,36003/02120,ZETA,PLINE300,2022-10-17 12:30:00,2022-10-17 17:00:00,,Recipe setting,tuncaa41,3099
2359,36003/02120,ZETA,PLINE300,2022-10-24 10:00:00,2022-10-24 12:00:00,,recipe testing,tuncaa41,3100
2360,36003/02120,ZETA,PLINE300,2022-10-24 13:00:00,2022-10-24 17:00:00,,Recipe setting,tuncaa41,3101