In [1]:
import pandas as pd
import numpy as np
import functools as ft

In [2]:
#Fab300_raw_reservations

def identify_reservations(df):
    Fab300_raw_reservations = df.copy()
    Fab300_raw_reservations["DATE_TIME_STAMP"] = pd.to_datetime(Fab300_raw_reservations["DATE_TIME_STAMP"])
    
    #by FO_ROW_ID then sort by EVENT_ROW_ID
    SortedRows = Fab300_raw_reservations.sort_values(["FO_ROW_ID","EVENT_ROW_ID"])
    
    index = range(1,len(SortedRows)+1)
    IndexShift_1 = [i-1 if i%2 != 0 else np.nan for i in index]
    IndexShift_2 = [i-1 if i%2 == 0 else np.nan for i in index]
    
    SortedRows["Index"] = index
    SortedRows["IndexShift_1"] = IndexShift_1
    SortedRows["IndexShift_2"] = IndexShift_2
    SortedRows["IndexShift_1_1"] = SortedRows["IndexShift_1"].fillna(method='bfill')
    SortedRows["IndexShift_2_1"] = SortedRows["IndexShift_2"].fillna(method='bfill')
    SortedRows = SortedRows.drop(columns=['IndexShift_1', 'IndexShift_2'])
    SortedRows = SortedRows.rename(columns={"IndexShift_1_1":"IndexShift_1","IndexShift_2_1":"IndexShift_2"})
    FilledUp2 = SortedRows.copy()
    
    UnpivotedOnlySelectedColumns = pd.melt(FilledUp2, id_vars=['FO_ROW_ID','Index','IndexShift_1','IndexShift_2'], 
                value_vars=["ResWBS", "ResTk", "DATE_TIME_STAMP", "USER_ID", "EVENT_ROW_ID"])
    
    UnpivotedOnlySelectedColumns["ResProperty_1"] = np.where(UnpivotedOnlySelectedColumns['Index']==UnpivotedOnlySelectedColumns['IndexShift_1'], UnpivotedOnlySelectedColumns['variable'] + "_Start", UnpivotedOnlySelectedColumns['variable'] + "_End")
    UnpivotedOnlySelectedColumns["ResProperty_2"] = np.where(UnpivotedOnlySelectedColumns['Index']==UnpivotedOnlySelectedColumns['IndexShift_2'], UnpivotedOnlySelectedColumns['variable'] + "_Start", UnpivotedOnlySelectedColumns['variable'] + "_End")
    
    AddedCustom4 = UnpivotedOnlySelectedColumns.copy()
    RemovedColumns1 = AddedCustom4.drop(columns=["Index", "IndexShift_2", "variable", "ResProperty_2"])
    
    PivotedColumn1 = RemovedColumns1.pivot(index=['FO_ROW_ID','IndexShift_1'],columns='ResProperty_1',values='value').reset_index()
    
    FilteredRows01 = PivotedColumn1[(PivotedColumn1["ResWBS_Start"].notnull() & PivotedColumn1['ResWBS_Start'].str.len() > 0)]

    RemovedColumns2 = AddedCustom4.drop(columns=["Index", "IndexShift_1", "variable", "ResProperty_1"])
    PivotedColumn2 = RemovedColumns2.pivot(index=['FO_ROW_ID','IndexShift_2'],columns='ResProperty_2',values='value').reset_index()
    
    FilteredRows02 = PivotedColumn2[(PivotedColumn2["ResWBS_Start"].notnull() & PivotedColumn2['ResWBS_Start'].str.len() > 0)]
    
    columns = [
        'FO_ROW_ID', 
        'DATE_TIME_STAMP_End',
        'DATE_TIME_STAMP_Start', 
        'EVENT_ROW_ID_End', 
        'EVENT_ROW_ID_Start',
        'ResTk_End', 
        'ResTk_Start', 
        'ResWBS_End', 
        'ResWBS_Start', 
        'USER_ID_End',
        'USER_ID_Start'
    ]
    FilteredRows01 = FilteredRows01[columns]
    FilteredRows02 = FilteredRows01[columns]
    combined = pd.concat([FilteredRows01,FilteredRows02])
    
    combined = combined.rename(
        columns=
        {
            "ResTk_Start":"ResTk",
            "ResWBS_Start":"WBS",
            "EVENT_ROW_ID_Start": "EVENT_ROW_ID_Begin",
            "DATE_TIME_STAMP_Start": "DATE_TIME_STAMP_Begin"
        }
    )

    columns = [
        "FO_ROW_ID",
        "ResTk", 
        "WBS", 
        "EVENT_ROW_ID_Begin", 
        "EVENT_ROW_ID_End", 
        "DATE_TIME_STAMP_Begin", 
        "DATE_TIME_STAMP_End", 
        "USER_ID_Start", 
        "USER_ID_End"
    ]
    Tools_with_resersvations  = combined#[columns]
    
    final = combined[columns]
    return final

In [3]:
Fab300_raw_reservations = pd.read_csv("Fab300_raw_reservations.csv")
Fab300_raw_reservations.head()

   FO_ROW_ID    ResTk       ResWBS  EVENT_ROW_ID   USER_ID  DATE_TIME_STAMP
0         74  3567866  32414/01380     716433553  alcott43  3/24/2020 13:28
1         74      NaN          NaN     716642033  alcott43   3/25/2020 8:12
2         74  3570572  32414/01380     717695228  alcott43   3/30/2020 9:22
3         74      NaN          NaN     718008313  alcott43   3/31/2020 7:59
4         74  3573332  32414/01380     719581366  alcott43  04/07/2020 8:34

In [4]:
df = Fab300_raw_reservations
Tools_with_reservations = identify_reservations(df)

#Sample for FO_ROW_ID == 76
Tools_with_reservations[Tools_with_reservations["FO_ROW_ID"] == 76]

ResProperty_1,FO_ROW_ID,ResTk,WBS,EVENT_ROW_ID_Begin,EVENT_ROW_ID_End,DATE_TIME_STAMP_Begin,DATE_TIME_STAMP_End,USER_ID_Start,USER_ID_End
69,76,N/a,36026/01221,758459975,758562018,2020-09-22 14:36:00,2020-09-22 21:53:00,gonzal15,1fpsvc
70,76,N/a,36026/01221,758568532,758575732,2020-09-22 22:27:00,2020-09-22 23:09:00,dedonc29,1fpsvc
71,76,N/a,36026/01221,761527312,761682660,2020-10-05 11:28:00,2020-10-05 20:12:00,gonzal15,1fpsvc
72,76,N/a,36026/01221,761858227,761956473,2020-10-06 14:32:00,2020-10-06 21:30:00,gonzal15,roekens
73,76,N/a,36026/01221,762400286,762522516,2020-10-08 13:34:00,2020-10-08 21:50:00,gonzal15,devlie55
74,76,N/a,36026/01221,764850153,764896716,2020-10-19 09:30:00,2020-10-19 12:03:00,gonzal15,gonzal15
75,76,N/a,36026/01221,767066024,767093521,2020-10-27 19:06:00,2020-10-27 21:13:00,gonzal15,gonzal15
76,76,3769455,36026/01224,790219574,790223397,2021-02-10 06:24:00,2021-02-10 06:53:00,gonzal15,gonzal15
77,76,3788896,36026/01224,797744147,797848586,2021-03-10 06:04:00,2021-03-10 14:16:00,gonzal15,1fpsvc
78,76,N/a,36026/01221,802249465,802288407,2021-03-26 10:31:00,2021-03-26 12:23:00,gonzal15,gonzal15
79,76,N/a,36026/01221,807834794,808033842,2021-04-19 10:12:00,2021-04-19 22:13:00,gonzal15,dedonc29
80,76,N/a,36026/01221,808696260,808864589,2021-04-22 09:47:00,2021-04-22 19:53:00,gonzal15,1fpsvc
81,76,N/a,36026/01221,808989555,809069488,2021-04-23 10:00:00,2021-04-23 14:49:00,gonzal15,devlie55
82,76,N/a,36026/01221,831788945,831869251,2021-07-27 14:04:00,2021-07-27 17:56:00,gonzal15,gonzal15
83,76,N/a,36026/01221,898542362,898604419,2022-04-28 14:56:00,2022-04-28 18:16:00,gonzal15,gonzal15
84,76,4153070,30990/32063,941961563,941972016,2022-10-18 11:56:00,2022-10-18 12:51:00,zhou49,zhou49
69,76,N/a,36026/01221,758459975,758562018,2020-09-22 14:36:00,2020-09-22 21:53:00,gonzal15,1fpsvc
70,76,N/a,36026/01221,758568532,758575732,2020-09-22 22:27:00,2020-09-22 23:09:00,dedonc29,1fpsvc
71,76,N/a,36026/01221,761527312,761682660,2020-10-05 11:28:00,2020-10-05 20:12:00,gonzal15,1fpsvc
72,76,N/a,36026/01221,761858227,761956473,2020-10-06 14:32:00,2020-10-06 21:30:00,gonzal15,roekens
73,76,N/a,36026/01221,762400286,762522516,2020-10-08 13:34:00,2020-10-08 21:50:00,gonzal15,devlie55
74,76,N/a,36026/01221,764850153,764896716,2020-10-19 09:30:00,2020-10-19 12:03:00,gonzal15,gonzal15
75,76,N/a,36026/01221,767066024,767093521,2020-10-27 19:06:00,2020-10-27 21:13:00,gonzal15,gonzal15
76,76,3769455,36026/01224,790219574,790223397,2021-02-10 06:24:00,2021-02-10 06:53:00,gonzal15,gonzal15
77,76,3788896,36026/01224,797744147,797848586,2021-03-10 06:04:00,2021-03-10 14:16:00,gonzal15,1fpsvc
78,76,N/a,36026/01221,802249465,802288407,2021-03-26 10:31:00,2021-03-26 12:23:00,gonzal15,gonzal15
79,76,N/a,36026/01221,807834794,808033842,2021-04-19 10:12:00,2021-04-19 22:13:00,gonzal15,dedonc29
80,76,N/a,36026/01221,808696260,808864589,2021-04-22 09:47:00,2021-04-22 19:53:00,gonzal15,1fpsvc
81,76,N/a,36026/01221,808989555,809069488,2021-04-23 10:00:00,2021-04-23 14:49:00,gonzal15,devlie55
82,76,N/a,36026/01221,831788945,831869251,2021-07-27 14:04:00,2021-07-27 17:56:00,gonzal15,gonzal15
83,76,N/a,36026/01221,898542362,898604419,2022-04-28 14:56:00,2022-04-28 18:16:00,gonzal15,gonzal15
84,76,4153070,30990/32063,941961563,941972016,2022-10-18 11:56:00,2022-10-18 12:51:00,zhou49,zhou49

In [5]:
Tools_Parents = pd.read_csv("Tools_Parents.csv")
Tools_Parents["CSIM_TIMESTAMP"] = pd.to_datetime(Tools_Parents["CSIM_TIMESTAMP"])
Tools_Parents

,DEL_FLAG,FACILITY,ENT_NAME,ROW_ID,CSIM_TIMESTAMP,Area
0,N,PLINE300,AIXTRON,74,2022-10-19 11:03:00,Area/DDEPI/Deposition/EPI
1,N,PLINE200,ARCHER,75,2022-10-20 17:45:00,Area/ILIME/Metrology/Inspections
2,N,PLINE300,DNS,76,2022-10-20 21:57:00,Area/WMCE/Clean/Clean
3,N,PLINE300,DUMMY300,78,2022-09-10 11:33:00,Area/Dummy-Area/Dummy-SubArea/Dummy-EntityGroup
4,N,PLINE300,F5_SCD,79,2022-10-20 20:51:00,Area/ILIME/Metrology/Ellipsometry
...,...,...,...,...,...,...
389,N,PLINE200,CHAMEO_UP,25772,2022-07-14 16:52:00,Area/WBA/Assembly/FlipChip
390,N,PLINE300,GT2000,26118,2022-10-14 11:38:00,Area/ILIME/Metrology/Inspections
391,N,PLINE200,UV_MANUAL,26135,2022-10-20 14:07:00,Area/WBA/Assembly/Dicing
392,N,PLINE200,A412_2,26167,2022-10-16 06:25:00,Area/DDDIFFUSION/Anneal/AnnealOven
393,N,PLINE300,H6300_3,26177,2022-10-15 07:47:00,Area/ELMIC/Metrology/Inspections

In [6]:
#FAB300_with_tool_names
Expanded_Tools_parents = pd.merge(
    Tools_with_reservations, 
    Tools_Parents, 
    left_on=["FO_ROW_ID"], 
    right_on=["ROW_ID"], 
    how="left",
    suffixes=["","_y"]
)
Expanded_Tools_parents = Expanded_Tools_parents.rename(
    columns={
        "ENT_NAME":"Tool",
        "USER_ID_Start":"USER_ID_Begin",
        "USER_ID_End":"USER_ID_End"
    }
)
Expanded_Tools_parents_filteredRows = Expanded_Tools_parents[
    Expanded_Tools_parents["USER_ID_Begin"] == Expanded_Tools_parents["USER_ID_End"]
]
Expanded_Tools_parents_filteredRows = Expanded_Tools_parents_filteredRows.rename(
    columns={
        "USER_ID_Begin":"User_Id",
        "DATE_TIME_STAMP_Begin":"Begin",
        "DATE_TIME_STAMP_End":"End"
    }
)
Expanded_Tools_parents_filteredRows = Expanded_Tools_parents_filteredRows.sort_values(["FO_ROW_ID","EVENT_ROW_ID_Begin"])
Fab300_Res_id = range(0,len(Expanded_Tools_parents_filteredRows))
Expanded_Tools_parents_filteredRows["Fab300_Res_id"] = Fab300_Res_id
Expanded_Tools_parents_filteredRows = Expanded_Tools_parents_filteredRows[
    (
        Expanded_Tools_parents_filteredRows["Tool"].notnull() & 
        Expanded_Tools_parents_filteredRows['Tool'].str.len() > 0)
]
columns = [
    "FO_ROW_ID",
    "EVENT_ROW_ID_Begin",
    "Begin",
    "End",
    "Fab300_Res_id",
    "FACILITY",
    "ResTk",
    "Tool",
    "User_Id",
    "WBS"
]
Expanded_Tools_parents_filteredRows[columns]
FAB300_with_tool_names = Expanded_Tools_parents_filteredRows[columns]

#Sample for FO_ROW_ID == 76
FAB300_with_tool_names[FAB300_with_tool_names["FO_ROW_ID"] == 76]

,FO_ROW_ID,EVENT_ROW_ID_Begin,Begin,End,Fab300_Res_id,FACILITY,ResTk,Tool,User_Id,WBS
5,76,764850153,2020-10-19 09:30:00,2020-10-19 12:03:00,0,PLINE300,N/a,DNS,gonzal15,36026/01221
23309,76,764850153,2020-10-19 09:30:00,2020-10-19 12:03:00,1,PLINE300,N/a,DNS,gonzal15,36026/01221
6,76,767066024,2020-10-27 19:06:00,2020-10-27 21:13:00,2,PLINE300,N/a,DNS,gonzal15,36026/01221
23310,76,767066024,2020-10-27 19:06:00,2020-10-27 21:13:00,3,PLINE300,N/a,DNS,gonzal15,36026/01221
7,76,790219574,2021-02-10 06:24:00,2021-02-10 06:53:00,4,PLINE300,3769455,DNS,gonzal15,36026/01224
23311,76,790219574,2021-02-10 06:24:00,2021-02-10 06:53:00,5,PLINE300,3769455,DNS,gonzal15,36026/01224
9,76,802249465,2021-03-26 10:31:00,2021-03-26 12:23:00,6,PLINE300,N/a,DNS,gonzal15,36026/01221
23313,76,802249465,2021-03-26 10:31:00,2021-03-26 12:23:00,7,PLINE300,N/a,DNS,gonzal15,36026/01221
13,76,831788945,2021-07-27 14:04:00,2021-07-27 17:56:00,8,PLINE300,N/a,DNS,gonzal15,36026/01221
23317,76,831788945,2021-07-27 14:04:00,2021-07-27 17:56:00,9,PLINE300,N/a,DNS,gonzal15,36026/01221
14,76,898542362,2022-04-28 14:56:00,2022-04-28 18:16:00,10,PLINE300,N/a,DNS,gonzal15,36026/01221
23318,76,898542362,2022-04-28 14:56:00,2022-04-28 18:16:00,11,PLINE300,N/a,DNS,gonzal15,36026/01221
15,76,941961563,2022-10-18 11:56:00,2022-10-18 12:51:00,12,PLINE300,4153070,DNS,zhou49,30990/32063
23319,76,941961563,2022-10-18 11:56:00,2022-10-18 12:51:00,13,PLINE300,4153070,DNS,zhou49,30990/32063

In [9]:
#IIO_raw_reservations

df = pd.read_csv("IIO_raw_reservations - test.csv").reset_index()
df["Begin"] = pd.to_datetime(df["Begin"],format="%d/%m/%Y %H:%M")
df["End"] = pd.to_datetime(df["End"],format="%d/%m/%Y %H:%M")
df = df.sort_values(["WBS","Tool","FACILITY","Module","Begin"])
df["End_Down"] = df["End"].shift(1)
df["Adjacent_Down"] = np.where(df['Begin']==df['End_Down'], True, False)
df["IndexCopy"] = np.where(df["Adjacent_Down"] == True,np.nan,df["index"])
df["IndexCopy2"] = df["IndexCopy"].fillna(method='ffill')
df["Module"] = df["Module"].fillna("")
df["Description"] = df["Description"].fillna("")
df = df[['WBS','FACILITY', 'Module','Tool','Begin', 'Description', 'End', 'User_id','IndexCopy2','End_Down']]


params = {
    'Begin': 'min',
    'End': 'max',
    'Description': lambda x: ';'.join(sorted(pd.Series.unique(x))),
    'User_id': lambda x: ';'.join(sorted(pd.Series.unique(x)))
}
sub = df[["WBS","Tool","FACILITY","Module","Begin","End","Description",'User_id','IndexCopy2']]
GroupedRows1 = sub.groupby(["WBS","Tool","FACILITY","Module",'IndexCopy2']).agg(params).reset_index()

params = {
    'Module': lambda x: ';'.join(sorted(pd.Series.unique(x))),
    'Description': 'first',
    'User_id': 'first'
}


GroupedRows1 = GroupedRows1.groupby(["WBS","Tool","FACILITY","Begin", "End"]).agg(params).reset_index()
GroupedRows1 = GroupedRows1.sort_values(["FACILITY", "Tool", "WBS", "Begin", "End"])

Index = range(0,len(GroupedRows1))
GroupedRows1["IIO_Res_id"] = Index
IIO_without_modules = GroupedRows1.copy()
IIO_without_modules

,WBS,Tool,FACILITY,Begin,End,Module,Description,User_id,IIO_Res_id
291,31012/01506,300MM_DICER,PLINE200,2022-09-29 09:00:00,2022-09-29 17:00:00,,lots on hold,schoofs,0
292,31012/01506,300MM_DICER,PLINE200,2022-10-14 13:30:00,2022-10-14 17:00:00,,lots on hold,schoofs,1
293,31012/01506,300MM_DICER,PLINE200,2022-10-18 13:30:00,2022-10-18 17:00:00,,lots on hold,schoofs,2
2499,36671/01224,300MM_DICER,PLINE200,2022-10-05 11:00:00,2022-10-05 12:00:00,,IN4MED lot,ameghn57,3
2500,36671/01224,300MM_DICER,PLINE200,2022-10-07 09:30:00,2022-10-07 12:00:00,,DEVINP LOTS,ameghn57,4
...,...,...,...,...,...,...,...,...,...
2356,36003/02120,ZETA,PLINE300,2022-09-30 13:30:00,2022-09-30 17:00:00,,Recipe setting,tuncaa41,3097
2357,36003/02120,ZETA,PLINE300,2022-10-07 09:30:00,2022-10-07 11:00:00,,Recipe practice,tuncaa41,3098
2358,36003/02120,ZETA,PLINE300,2022-10-17 12:30:00,2022-10-17 17:00:00,,Recipe setting,tuncaa41,3099
2359,36003/02120,ZETA,PLINE300,2022-10-24 10:00:00,2022-10-24 12:00:00,,recipe testing,tuncaa41,3100
2360,36003/02120,ZETA,PLINE300,2022-10-24 13:00:00,2022-10-24 17:00:00,,Recipe setting,tuncaa41,3101